.buttonDownloadALl_detail,
.buttonDownloadALl{
    width : 19px;
    height: 19px;
    cursor: hand !important;
    cursor: pointer;
}

.buttonDownloadALl_detail{
    padding-left: 15px;
    margin-left: -1px;
    margin-bottom: 3px;
}

.buttonDownloadALl{

    position: absolute;
    z-index: 99999;
}

